<div class="card">
  <div class="card-block">
    <p class="card-text">
      {{ comment.body }}
    </p>
  </div>
  <div class="card-footer">
    <a href="/profile/author" class="comment-author">
      <img [src]="comment.author.image" class="comment-author-img" />
    </a>
    &nbsp;
    <a href="/profile/jacob-schmidt" class="comment-author">{{
      comment.author.username
    }}</a>
    <span class="date-posted">{{ comment.createdAt | date : "medium" }}</span>
    <span class="mod-options">
      <i class="ion-trash-a"></i>
    </span>
  </div>
</div>
