<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/home"
                [queryParams]="{ 'my-feed': true }"
                >Your Feed</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/home"
                >Global Feed</a
              >
            </li>
          </ul>
        </div>
        <h4 *ngIf="articles.length === 0">
          Let's create your first article
          <span
            routerLink="/editor"
            [ngStyle]="{ cursor: 'pointer', 'font-weight': 900 }"
            >&rarr;</span
          >
        </h4>
        <app-articles-item
          *ngFor="let article of articles"
          [article]="article"
        />

        <ul class="pagination">
          <li
            *ngFor="let PageOffset of pagination; index as i"
            class="page-item active"
            [ngClass]="{ active: PageOffset == offset }"
          >
            <a class="page-link" (click)="onSetOffset(PageOffset)">{{
              i + 1
            }}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of tags" href="" class="tag-pill tag-default">{{
              tag
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
