<div class="article-page">
  <!-- header                        ---------------------------------------------------- -->
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <div class="article-meta">
        <div>
          <div (click)="onNavToAuthorProfile()" class="nav-to-profile">
            <a><img [src]="article.author.image" /></a>
            <div class="info">
              <a class="author">{{ article.author.username }}</a>
              <span class="date">{{ article.createdAt | date }}</span>
            </div>
          </div>
        </div>
        <!-- actions ------------------------------- -->
        @if(isMyArticle){
        <button
          (click)="onEditArticle()"
          class="btn btn-sm btn-outline-secondary"
        >
          <i class="ion-edit"></i> Edit Article
        </button>
        <button
          (click)="onDeleteArticle()"
          class="btn btn-sm btn-outline-danger"
        >
          <i class="ion-trash-a"></i> Delete Article
        </button>
        <i class="ion-heart"></i> {{ article.favoritesCount }}

        }@else {

        <button
          (click)="onFollowUser()"
          class="btn btn-sm btn-outline-secondary"
        >
          <i
            [ngClass]="
              article.author.following ? 'ion-minus-round' : 'ion-plus-round'
            "
          ></i>
          &nbsp; {{ article.author.username }}
        </button>
        &nbsp;&nbsp;
        <button (click)="onFavorite()" class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Post
          <span class="counter">{{ article.favoritesCount }}</span>
        </button>
        }
      </div>
    </div>
  </div>
  <!-- header                        ---------------------------------------------------- -->

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <h2 id="introducing-ionic">{{ article.description }}</h2>
        <p>{{ article.body }}</p>
        <ul class="tag-list">
          @for (tag of article.tagList; track $index) {

          <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
          }
        </ul>
      </div>
    </div>

    <hr />

    <!-- <div class="article-actions">
      <div class="article-meta">
        <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
        <div class="info">
          <a href="" class="author">Eric Simons</a>
          <span class="date">January 20th</span>
        </div>

        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow Eric Simons
        </button>
        &nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Article <span class="counter">(29)</span>
        </button>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-edit"></i> Edit Article
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <i class="ion-trash-a"></i> Delete Article
        </button>
      </div>
    </div> -->

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <app-comment-form />

        @for (comment of comments; track comment.id) {
        <app-comment [comment]="comment" />
        }
      </div>
    </div>
  </div>
</div>
