<div class="article-preview">
  <div class="article-meta">
    <a (click)="onNavToAuthor()"><img [src]="article.author.image" /></a>
    <div class="info">
      <a (click)="onNavToAuthor()" class="author">{{
        article.author.username
      }}</a>
      <span class="date">{{ article.createdAt | date : "medium" }}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{ article.favoritesCount }}
    </button>
  </div>
  <!-- <a routerLink="/article/the-song-you" class="preview-link"> -->
  <a class="preview-link pointer">
    <h1 (click)="onNavToReadArticle()">{{ article.title }}</h1>
    <p (click)="onNavToReadArticle()">{{ article.description }}</p>
    <span (click)="onNavToReadArticle()">Read more...</span>
    <ul class="tag-list">
      <li
        *ngFor="let tag of article.tagList"
        class="tag-default tag-pill tag-outline"
      >
        {{ tag }}
      </li>
      <!-- <li class="tag-default tag-pill tag-outline">implementations</li> -->
    </ul>
  </a>
</div>
