<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <ul class="error-messages" *ngIf="form.invalid && form.touched">
          <li *ngIf="form.controls.username.invalid">
            That username is required
          </li>
          <li *ngIf="form.controls.email.errors?.['required']">
            Email is required
          </li>
          <li *ngIf="form.controls.email.errors?.['email']">
            Email format is invalid
          </li>
          <li *ngIf="form.controls.password.errors?.['required']">
            Password is required
          </li>
          <li *ngIf="form.controls.password.errors?.['minlength']">
            Password must be at least 6 characters
          </li>
        </ul>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                [formControl]="form.controls.image"
                class="form-control"
                type="text"
                placeholder="URL of profile picture"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                [formControl]="form.controls.username"
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                [formControl]="form.controls.bio"
                class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input
                [formControl]="form.controls.email"
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                [formControl]="form.controls.password"
                class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
              />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Update Settings
            </button>
          </fieldset>
        </form>
        <hr />
        <button class="btn btn-outline-danger" (click)="onLogout()">
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>
